In [ ]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://localhost/john')

In [ ]:
conn = engine.connect()

In [ ]:
select = "select dpd.issuer_code, dpd.transaction_date, dpd.open_price, dpd.high_price, dpd.low_price, dpd.close_price, dpd.daily_volume from asx_database.daily_price_data dpd left join asx_database.listed_companies lc on lc.issuer_code = dpd.issuer_code where gics_industry_group = 'Software & Services';"

In [ ]:
daily_data = pd.read_sql(select, conn)

In [ ]:
conn.close()

In [ ]:
daily_data

In [ ]:
analytics = pd.DataFrame(columns=['issuer_code', 'start_date', 'end_date'])

In [ ]:
analytics

In [ ]:
issuer_codes = data['issuer_code'].drop_duplicates().sort_values()

In [ ]:
analytics.issuer_code = issuer_codes

In [83]:
analytics

       issuer_code start_date end_date
256362         3DP        NaN      NaN
4722           8CO        NaN      NaN
6256           9SP        NaN      NaN
8165           ADA        NaN      NaN
13488          ADS        NaN      NaN
...            ...        ...      ...
355038         XF1        NaN      NaN
351712         XPE        NaN      NaN
349725         XRO        NaN      NaN
358254         YOJ        NaN      NaN
360627         ZYB        NaN      NaN

[153 rows x 3 columns]